// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


$toolbar-background: #50b5eb;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$button-ios-text-color: #fff;
$button-ios-background-color:#50b5eb;

$badge-ios-background-color: #50b5eb;
$badge-ios-text-color: #fff;

$spinner-ios-ios-color: #50b5eb;

$tabs-ios-tab-text-color: #333;
$tabs-ios-tab-text-color-active:#50b5eb;
$tabs-ios-tab-icon-color:#333;
$tabs-ios-tab-icon-color-active:#50b5eb;

$segment-button-ios-background-color-activated:#50b5eb;
$segment-button-ios-font-size: 1.4rem;

$card-ios-margin-top:10px;
$card-ios-margin-right:0px;
$card-ios-margin-bottom:0px;
$card-ios-margin-left:0px;
$card-ios-box-shadow:none;

// $list-ios-border-color:#fff;
// $item-ios-detail-push-color:#c8c7cc;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$button-md-text-color: #fff;
$button-md-background-color:#50b5eb;

$badge-md-background-color: #50b5eb;
$badge-md-text-color: #fff;
$badge-md-border-radius: 10px;

$spinner-md-ios-color:#50b5eb;

$tabs-md-tab-text-color:#333;
$tabs-md-tab-text-color-active:#50b5eb;
$tabs-md-tab-icon-color:#333;
$tabs-md-tab-icon-color-active:#50b5eb;


$segment-button-md-text-color-activated:#50b5eb;
$segment-button-md-border-color-activated:#50b5eb;

$segment-button-md-font-size:1.4rem;

$card-md-margin-top:10px;
$card-md-margin-right:0px; 
$card-md-margin-bottom :0px;
$card-md-margin-left :0px;
$card-md-box-shadow:none;

// $list-md-border-color:#fff;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$button-wp-text-color: #fff;
$button-wp-background-color:#50b5eb;


$badge-wp-background-color: #50b5eb;
$badge-wp-text-color: #fff;

$spinner-wp-ios-color: #50b5eb;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
